[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=/mnt/F/Scripts/Hibernation crisis/rsyslog.png
Exec=sh "/mnt/F/Scripts/Hibernation crisis/rSyslog.sh"
Name=rsyslog
